<div id="movie-list-container">

<div *ngFor="let movie of getMovies()">
    <div id="movie-card">
      <img id="movie-img" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" alt="movie-image"/>
      <div id="buttons-container">
      <button id="button-underline" class="movie-card-buttons" (click)="removeFromFavorites(movie)">- Remove</button>
      <button class="movie-card-buttons" [routerLink]="['/info']" [queryParams]="{popularity:movie.popularity, title: movie.title, poster_path: 'https://image.tmdb.org/t/p/w500' + movie.poster_path, overview:movie.overview}">More Info</button>
     
    </div>
      <p>{{ movie.title }}</p>
      
    </div>
  </div>

</div>