<div class="search-container">
  <h1 [routerLink]="['/home']" style="font-family: 'Mulish', sans-serif; cursor: pointer;" class="title">PICK A FLICK
  </h1>
  <form (submit)="searchSubmit(searchForm.value)" #searchForm="ngForm">
    <div class="search-items">
      <select style="cursor: pointer;" for="select-input" class="genre-dropdown" type="text" id="genreId" name="genreId"
        placeholder="Select A Genre" ngModel>
        <option style="color:black;" selected value="">SEARCH BY GENRE</option>
        <option style="color: black; text-align: center; text-transform: uppercase;" [value]="genre.id"
          *ngFor="let genre of genres">{{
              genre.name
            }}</option>
      </select>
      <label for="releaseYear" class="label"></label>
      <input type="text" class="input" id="releaseYear" name="releaseYear" placeholder="SEARCH BY RELEASE YEAR"
        ngModel />

      <label for="actorName" class="label"></label>
      <input type="text" class="input" id="actorName" name="actorName" placeholder="SEARCH BY ACTOR" ngModel />
    
      <div class="button-div">
        <button class="label button"><span>SEARCH</span></button>
      </div>
    </div>
  </form>

  <!-- <div class="dropdown"> -->
  <!-- <button class="dropbtn"><span>NAVIGATION</span></button> -->
  <nav class="dropdown-content">
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/favorites']">Favorites</a>
    <a [routerLink]="['/about']">About Us</a>
  </nav>
  <!-- </div> -->
</div>