#movie-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;

  
}

#movie-card {
  display:flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  align-items: center;
}

#movie-card:hover {
    
height: 350px;
width: 400px;
}

#movie-img {
  border-radius: 10px;
  width: 350px;
  height: 181px;
  /* box-shadow: 5px 10px 8px #888888; */
}

#buttons-container{
    display:flex;
    flex-direction: row;
}
.movie-card-buttons {
  border-radius: 10px;
  border: none;
  padding: 0 10px;
  color: white;
  background-color: black;
  height: 30px;
  width: 80px;
  margin: 10px;

}
