<div id="movie-card">
    <img id="movie-img" onerror="this.onerror=''; this.src= 'https://cdn.wallethub.com/wallethub/images/posts/13844/why-does-movie-popcorn-cost-so-much.jpg';" alt="movie-image" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"  />
    <div id="buttons-container">
      <button class="movie-card-buttons" (click)="addToFavorites(movie)" *ngIf="isMovieInFavorites()">+ Favorite</button>
      <button class="movie-card-buttons" [routerLink]="['/info']"
        [queryParams]="{popularity:movie.popularity, title: movie.title, poster_path: 'https://image.tmdb.org/t/p/w500' + movie.poster_path, overview:movie.overview}">More
        Info</button>
    </div>
    <p >{{ movie.title }}</p>


  </div>